:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", serif;
  font-size: 16px;
  background-color: var(--Slate-300);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 250px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--White);
  gap: 1em;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-title {
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
}

.card-content {
  font-size: 15px;
  color: var(--Slate-500);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
